---
---
.footer-col-wrapper {
  font-size: 15px !important;
}
.site-title {
  font-size: 32px !important;
}
code {
  border:none !important;
  background-color:#333 !important;
}
$background-color:       #020918;
$text-color: #f2f2f2;
$brand-color:      #bd7cee;
$grey-color:       #93a5be !default;
$base-font-size:   22px;
@import "minima";
